<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Formulario</title>
</head>
<body>
    <header class="navbar">
        <div class="logoML">
            <a href="/"><img class="logoML-home" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Libre"></a>
        </div>

        <div class="buscador">
            <input class="buscador-input" type="text" placeholder="Buscar productos, marcas..." id="buscar" name="buscar" align = "center">
            <button type="submit" class="buscador-boton">
                <i class="fas fa-search"></i>
            </button>
            
        </div>

        <div class="mensaje-navbar">
            <i class="fas fa-hand-holding-usd"></i><span>Comprá en cuotas y sin tarjeta de crédito</span>
        </div>

        <!--
        <div>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/misCompras">Mis compras</a></li>
            </ul>
        </div>
     -->

     <div class="menu">
        <i class="fas fa-bars"></i>
    </div>

    </header>

    <main>
        <form class="register-form" action="/" method="">
            <input type="text" id="NyA" name="NyA" placeholder="Nombre y Apellido">

            <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario">

            <input type="email" id="email" name="email" placeholder="E-mail">

            <label for="date" id="date">Fecha de nacimiento</label>
            <input type="date" id="date" name="date" value="" min="1900-01-01" max="2102-01-01" placeholder="DD-MM-AAAA">

            <label for="perfil">Perfil de usuario</label>
            <input type="radio" name="perfil" value="C">Comprador
            <input type="radio" name="perfil" value="V">Vendedor

            <label for="categorias">Categorías de interés</label>
            <input type="checkbox" name="categorias" value="E">Electro
            <input type="checkbox" name="categorias" value="M">Moda
            <input type="checkbox" name="categorias" value="H">Hogar
            <input type="checkbox" name="categorias" value="J">Juguetería
            <input type="checkbox" name="categorias" value="VS">Vida sana

            <label for="file">Elegí tu foto de usuario</label>
            <input type="file" id="file" name="file" accept="image/png, image/jpeg">

            <input type="password" id="password" name="password" placeholder="Elegí tu contraseña">

            <input type="password" id="repeat-password" name="repeat-password" placeholder="Confirma tu contraseña">
            
            <button class="submit-button" type="submit">Enviar</button>
            <button class="reset-button" type="reset">Borrar</button>
        </form>
    </main>

    <footer>
        <article class="info pago">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article class="info envio">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </article>

        <article class="info seguridad">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
        </article>

        <div class="copyright">
            <h5>Copyright © 1999-2019 MercadoLiebre S.R.L.</h5>
        </div>

    </footer>
</body>
</html>