/*FORMATO GENERAL*/

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ebebeb;
}

li {
    list-style: none;
}

/*INDEX*/
/*Navbar*/
.navbar {
    width: 100%;
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.logoML {
    width: 50%;
}

.logoML-home {
    max-width: 200px;
    align-items: center;
}

.buscador {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.buscador-input {
    font-size: 12px;
    width: 90%;
    outline: none;
    border-radius: 3px;
    background-color: white;
    border: 1px solid white;
}

.mensaje-navbar {
    width: 100%;
    font-weight: lighter;
    color: #03264C;
}

.menu {
    text-align: center;
}

.fas.fa-bars {
    height: 40px;
    width: 40px;
    background-color: #0044AA;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

i.fas.fa-bars:hover {
    background-color: #0022AA;
    cursor: pointer;
}

.banner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: block;
    width: 100%;
}

.principal {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

.titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    color: #666;
}

.product-card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.delivery-truck {
    color: #39b54a;
    border: 1px solid #39b54a;
    padding: 5px;
    border-radius: 30px;
    display: block;
}

footer {
    padding: 20px 5%;
    background-color: white;
}

.pago, .envio, .seguridad {
    margin-top: 20px;
    margin-bottom: 20px; 
}

.info p {
    font-size: smaller;
}

.fa-credit-card, .fa-gift, .fa-user-shield {
    color: #0022AA;
}

/*Login & Register*/

.login-form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.register-form {
    width: 100%;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

label {
    font-weight: bolder;
    font-size: larger;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px solid white;
}

.submit-button {
    width: 100%;
    color: white;
    background-color: #0044AA;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px solid #0044AA;
}

.submit-button:hover {
    background-color: #0022AA;
    cursor: pointer;
}

.reset-button {
    width: 100%;
    color: white;
    background-color: #AA0044;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px solid #AA0044;
}

.reset-button:hover {
    background-color: #CC1155;
    cursor: pointer;
}




/**/





/*Media queries
@media(min-width: 361px){

}

@media(min-width: 769px){

}
*/